/* content sections */
@media (min-width: 700px){
  .section {
    padding: 1% 20% 1%;
    background-color: wheat;
  }
}

.section {
  padding: 1% 5% 1%;
  background-color: wheat;
}

.title > h1, a {
  display: inline;
}

.title > a {
  text-decoration: none;
}

.title-icon {
  width: 3em;
  margin-left: 1em;
}

.avatar {
  width: 20em;
}

.introduction{
  background-color: #FAEBD7;
}

.education{
  background-color: #F5DEB3;
}

.experience{
  background-color: #CEB088;
}

.projects{
  background-color: #967A76;
}

.comments-box {
  min-width: 50%;
}

.fun-stuff{
  background-color: #534C5A;
  color: #534C5A;
}

.fun-stuff:hover{
  color: white;
}

/* elements */
body {
  background-color: antiquewhite;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

p, li {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

textarea, input, select, label, button {
  font-family: inherit;
  font-size: 1.3em;
}

.hidden {
  display: none;
}

.hidden > .lds-roller {
  display: unset;
}
